body {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.04em;
   
}
/* a {
    text-decoration: none !important;
    color: #000;
    font-size: small;
} */
p{
    letter-spacing: 0.03rem;
}
.nav-link:hover {
    color: rgb(7, 68, 175) !important;
}
.top-logo {
    height: 138px;
    /* margin-left: 30px !important; */
}
#logo {
    height: 115px;
    width: 270px;
    padding-left: 80px;
    margin: 10px;
    object-fit: scale-down;
}
.navbar {
    height: 54px;
    padding-left: 62px;
    padding-right: 93px;
    padding-top: 0;
    padding-bottom: 0; 
    letter-spacing: 0.05rem; 
    font-family: 'Lato', sans-serif; 
}
.active{
    color: #2078DB !important;
}
.nav-link{
    color: #505050 !important;

}
.fblack{
    color: #1b1d1f !important;
}

@media screen and (max-width:720px) {
    .navbar ul {
        float:left;
        padding: 12px;
        width: 250px;
        background-color: #FFFFFF !important;
        text-decoration: none;
        font-size: 17px;
        z-index: 100;
      }
}

.nav-item {
    font-size: 15px;
    letter-spacing: .05em;
}

.fixed-nav {
    position: fixed;
    top: 0;
    height: 55px;
    width: 100%;
    z-index: 80;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.underline {
    border-top: 1px solid #D2D6DF;
    border-bottom: 1px solid #D2D6DF;
}

.home_header{
    background-image: url('BSC_homepage.jpg');
    color: white;
    align-items: center;
    padding-top: 250px;
    height: 458px;
    width: 100%;
}
.home_header>h1 {
    font-size: 60px;
    line-height: 65px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;;
    
}

.bcat {
    text-align: center;
    color: #0B3565 !important;
    margin-top: 55px;
    margin-bottom: 20px;
    color: #333333;
    font-weight: 500 !important;
    opacity: 0.9;
}
.bcat2{
    text-align: center;
    color: #0B3565 !important;
    margin-top: 55px;
    margin-bottom: 20px;
    color: #333333;
    font-weight: 500 !important;
    opacity: 0.9;
}
.dropdown {
    position: relative;
}

.dropdown-menu {
    height: 396px;
    width: 1050px;
    float: left;
    padding: 30px;
    margin-top: 8px !important;
    letter-spacing: 0.04em;
    position: absolute;
}
.dropdown-menu-search{
    height: 350px;
    width: 250px;
    float: none;
    padding: 20px;
    margin-top: 8px !important;
    letter-spacing: 0.04em;
    position: absolute;
}
.dropdown-menu-search, a:hover{
    color: #0c82f8 !important;
   
} 
.dropdown-item{ 
color: #1b1d1f !important;
}
.dropdown-item :hover{ 
color: #137de7 !important;
}

/* .dropdown :hover .dropdown-menu {

    display: block;
} */

.dropdown-item:hover {
    color: #20A2EA ;   
}

.dropdown-item2 {
    color: #209DE8;
}

.dropdown-item2:hover {
    color: #FB3807;
}

.footer {
    font-size: small;
    width:101%;
    height: 365px;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #0b3565;
    color: white;
    overflow: hidden;
}

#foot-logo {
    height: 100px;
    width: 180px;
    margin-left: 96px;
    overflow: hidden;
}

.footer, .foot-menu{
color: #c2c0c0 !important;
line-height: 25px;
}
.footer, .foot-menu:hover{
    color: #FFFFFF!important;
}
.footer-end {
    height: 50px;
    width: auto;
    font-size: small;
    padding-left: 96px;
    padding-top: 15px;
    color: white;
    background-color: #090D11;

}

.fa-brands{
    color: rgba(255, 255, 255, 0.932);
}
.fa-brands:hover{
    color: rgba(47, 103, 223, 0.678);
}
.ft-icon {
    width: 30px;
    font-size: xx-large !important;
}

*a {
    text-decoration: none;
}

ul li {
    list-style: none;
}


/* home page */

.thumbnail {
    height: 170px;
    width: 185px;
    margin: 5px;
    padding-top: 45px;
    background-color: #F8F8FA;
    border-radius: 4px;
    border: 1px solid #D2D6DF;
    text-align: center;
}
.thumbnail p{
    color: #001111;
}

.thumbnail :hover {
    color: #FB3807;
}

.homecat-icon {
    margin-left: 80px;

}
.search .select-cat{
    float: left;
    font-size: small;
    padding-right: 80px;
    padding-left: 0 !important;
}
.select-cat{
    height: 16px;
    padding-top: 4px;
    opacity: 0.8;
}
.cat-svg {
    overflow: hidden;
    height: 40px;
    width: 40px;
    margin: 10px;
    opacity: .8;
}
.cat-svg :hover {
    fill: #FB3807 !important;

}
.city-pic {
    height: 250px;
    width: 250px;
    margin: 10px;
}

.last-content {
    color: white;
    height: 310px;
    padding-top: 10px;
    margin-top: 40px;
    width: 100%;
}
.last-content h1{
    font-size: 34px;
}
.last-content, .last-content-btn {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.last-content-btn{
    font-size: small; 
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
    background-color:#f1481e ;  
}
.last-content-btn:hover{
    background-color: #0c82f8 !important;
    transition: all ease-in-out 0.4s;
}
.img-city1 {
 height: 243px;
 width: 278px;
 border-radius: 4px;
 padding-left: 0;
 margin-top: 10px;
}
.img-city2 {
 height: 243px;
 width: 278px;
 border-radius: 4px;
 padding-left: 0;
 margin-top: 10px;
}
.img-city3 {
 height: 243px;
 width: 278px;
 border-radius: 4px;
 padding-left: 0;
 margin-top: 10px;
}
.title {
    text-align: center;
    background-color: #0a0a0a80;
    width: 278px;
    padding-top: 20px;
    height: 70px;
    margin-top: 173px;
    font-size: 22px;
    color: #ffffffec; 
}
.title:hover{
    color: #ffffffaf;
}

/* contact */
.contact {
    margin: 20px;
    margin-top: 40px;
    text-align: center;
}
.contact-p{
    padding-left: 90px;
    padding-right: 90px
}
.contact-form {
    width: 900px;
    margin: auto;
    background-color: #F8F8FA;
    border: 1px solid #D2D6DF;
    align-items: center;
}

.contact-item {
    width: 800px;
    margin: auto;
}

.send-mssg {
    align-items: end;
}

.f-content {
    margin-left: 96px;
}

/* living */
.living-content{
    padding-left: 93px;
    padding-right: 93px;
}
.iframe {
    text-align: center;
    margin: 10px;
}

.list-item {
    font-size: 14px;
}

.list-item li {
    list-style: disc;
}

/* international  */
.international{
    padding-left: 93px;
    padding-right: 93px;
}

/* category */
.cat-main {
    height: 250px;
    background-color: #0B3565;
}

#sponsorby {
    padding-top: 50px !important;
    padding-bottom: 15px !important;
}

/* category page */
#inner-card{
    margin-left: 88px;
    margin-right: 95px;
    font-size: small;
}
a{
    text-decoration: none;
}
.college-card {
    width: 380px;
    height: 100px;
    overflow: hidden;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-left: 10px;
}
.inner-tittle{
    margin-top: 25px;
    font-size: 1.65rem;
    letter-spacing: 0.04rem;
    padding-left: 400px;
    color: #333333fa;

}
.post-tittle{
    text-decoration: none;
    letter-spacing: 0.04rem;
    color: #023a64 !important;
    font-weight: 600;
}
.post-tittle:hover{
    color: #FB3807 !important;
}
.post-icon{
    margin-top: 20px;
}
.inner-lyout{
    margin-left: 106px;
    margin-right: 95px;
    width: 1180px;
    align-items: center;
    letter-spacing: 0.03rem;
}
.post-count{
    padding-left:700px; 
    line-height:10px; 
    margin:0;color:#333333;
}
.cat-postbar{
    width: 875px;
    margin-left: 14px;
}
.cat-sidebar {
    border: 1px solid #D2D6DF;
    height: 410px;
    width: 280px;
    margin-top: 15px;
    letter-spacing: 0.05rem;
    border-radius: 5px;
    background-color: #F8F8FA;
}
.nav-item, label{
margin-top: 12px;
color: #25323F;
}
.cat-postarea {
    border: 1px solid #D2D6DF;
    height: 270px;
    padding: 30px;
    border-radius: 5px;
    background-color: #F8F8FA;
    font-size: small; 
}
.cat-postarea a {
    color: #1570d8;
    margin-right: 16px;
}
.institute-end{
    color: #0B5A99;
    letter-spacing: 0.06rem;
}
.institute-end span{
    color: #137de7;
}
.more-btn{
    color: #FFFFFF;
    background: #E75854;
    border: none;
    padding: 7px;
    border-radius: 4px;
    padding-left: 47px ;
    padding-right: 47px ;
}
.more-btn:hover{
    background: #0c82f8;
}

select{
    width: 100%;
    margin-top: 10px;
    padding: 9px;
    border-radius: 2px;
    color: white;
    border: none;
    background-color: #2078DB ;
    font-size: small;
    outline: 3px #2078DB ;
   }
 
   option{
    background-color: white;
    color: black;
    font-size: small;
    padding: 10px !important;
    
   }

selected {
    background-color: blue;
    color: white;
}

.cat-footer{
    height: 200px;
    background-color: #0B3565;
    font-size: small;
}
.cat-footer-card{
    margin-left: 480px;
    width: 380px;
}
/* details page */
.detail-top {
    height: 370px;
    background-color: #0B3565;
}

.dtl-banner {
    height: 321px;
 
    overflow: hidden;
    margin-top: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 35px;
    padding-top: 20px;
    font-size: small;
    letter-spacing: 0.06rem;
}

.dtl-img {
    height: 270;
    width: 500px;
}
.mycontainer{
    margin-left: 65px;
    margin-right: 85px;
    font-size: small;
}
.college-card {
    height: 110px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #D2D6DF;
    border-radius: 5px;
}

.shareicon {
    border: 1px solid #D2D6DF;
    border-radius: 4px;
    padding: 10px;
}
#shareicon{
    margin-top: 100px;
}
.icon-card {
    height: 60px;
    border: 1px solid #D2D6DF;
    border-radius: 5px;
    background-color: #F8F8FA;
    padding-top: 15px;
    margin-left: 10px;
    width: 100%;

}

.icon-card span {
    margin: 10px;
    padding: 5px;
    font-size: small;
    color: #090D11;
    font-weight: 700;
}
.dtl-main-aria{
    width: 800px;
}
.dtl-main {
    border: 1px solid #D2D6DF;
    border-radius: 5px;
    font-size: small;
    padding: 10px;

}
.dtl-title{
    font-weight: 700;
    font-family: 'lato', sans-serif;
}
.cat-title{
    padding-left: 90px;
    font-size:12.6px;
    padding-top: 13px;
}
.dtl-sidebar {
    border: 1px solid #D2D6DF;
    border-radius: 5px;
    height: 110px;
    width: 375px;
    font-size: small;
    text-align: center;
    padding: 10px;
}
.dtl-sidebar-aria{
    width: 400px;
}
.dtl-cform {
    width: 375px;
    display: inline-block;
    padding: 10px;
    background-color: #0B3565;
    font-size: small;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.dtl-cform input {
    font-size: small;
}

/* institute-card */
.institute-top {

    margin-left: 5px;
}

.institute-main {
    margin-left: 85px;
    margin-right: 85px;
}

.institute {
    padding: 10px;
    border: 1px solid #D2D6DF;
    border-radius: 5px;
    height: 100px;
    width: 385px;
    overflow: hidden;
}
/* .pagination */
.page-link{
    background-color:#0e70c5;
    color: #FFFFFF;
    font-size: small;
}
.pagination{
    padding-right: 440px;
    margin-top: 16px;
    margin-bottom: 90px;
}
.page-link:hover{
    background: #0b3864;
    color: #FFFFFF !important;
}